body {
    background-color:  #83C8EB;
}


h1{
    font-size: 15cap;
    text-align: center;
    font-family: "Pixelify Sans", sans-serif;
}


.container {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    box-shadow: 12px 12px 15px #5C61E6;
    background-color:#109EE6 ;
    border-radius: 5px;
    margin : 0 auto;
}

a {
    text-decoration: none;
    color: black;
}
.suporte {
    background-color:#5539a7; /* Azul escuro */
    color: #fff; /* Texto branco */
    border: none;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
 float: right;
}

.suporte:hover {
    background-color: #5C61E6;
}
div{
    text-align: center;
   
    
}


.botoes{
    background-color:#5539a7;
 margin: 30px;
 width: 200px;
 height: 200px;   
 cursor: pointer;
 border-radius: 20px; 
 transition: all .3s;
 

}

#js {
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS2PwRQttmK18ZBYWADrccj8tjjsnIWtDFvqQ&s);
    background-position: center;
   
}

.botoes:hover{
    background-color: #0056b3;
    transform: scale(1.2);
    color: white;
}


.btn-voltar {
    background-color:#5539a7; /* Azul escuro */
    color: black; /* Texto branco */
    border: none;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    float:right;
    
  }

  .btn-voltar:hover {
    background-color: #5C61E6; /* Azul mais escuro no hover */
  }

  a {
    text-decoration: none;
    color:black;
  }